<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>
<div class="d-flex align-items-start flex-column bd-highlight mb-3 parent-menu">
  <div>
    <div class="p-2">HOME</div>
    <div class="p-2"><i class="fa fa-fw fa-home"></i> Dashboard</div>
    <div class="p-2">UPLOAD</div>
    <div class="p-2 cursor-pointer" (click)="onMenuClick('SearchMatter')">
      <i class="fa fa-fw fa-search"></i> Search Matter
    </div>
    <div class="p-2 cursor-pointer" (click)="onMenuClick('FileUpload')">
      <a class="ps-3"
        ><i class="fa fa-fw fa-upload"></i> File Upload</a
      >
    </div>
    <div class="p-2"><i class="fa fa-fw fa-list"></i> View Past Uploads</div>
  </div>
  <div class="mt-auto">
    <div class="p-2 cursor-pointer">
      <i class="fa fa-fw fa-gear"></i> Settings
    </div>
    <div class="p-2 cursor-pointer">
      <i class="fa fa-fw fa-right-from-bracket"></i> Logout
    </div>
  </div>
</div>
