<div class="row display-table border-top border-gray-900 rounded-lg">
  <div
    class="dropzone d-flex flex-column justify-content-evenly"
    appDrag
    (multipleFiles)="fileDropped($event)"
  >
    <div class="item-1 align-self-center">Drop files here or</div>
    <div class="item-1 align-self-center">
      <button (click)="selectFile.click()" class="btn-browse-files">
        Select Files
      </button>
    </div>
    <div class="item-1 align-self-center">
      {{ category }} - Including Civilian transcripts, civilian notebook
      statement
    </div>
  </div>

  <input
    style="display: none"
    type="file"
    multiple
    value="select"
    #selectFile
    (change)="onFileSelected($event)"
  />

  <table
    mat-table
    [dataSource]="dataSource"
    *ngIf="this.multipleFiles.length > 0"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Sensitive?</th>
      <td mat-cell *matCellDef="let row">
        <button
        [ngClass]="row.sentitive==true ? 'btn-sensitive-yes' : 'btn-sensitive-no'"
          mat-button
          class="btn-sensitive-yes"
          (click)="TonggleSensitive(row)"
        >
       {{ row.sentitive==true? "Yes" : "No" }} 

        </button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef>File Name</th>
      <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="TableHeaderRow ps-4">
        Action
      </th>
      <mat-cell *matCellDef="let myRowData">
        <div class="w-100 h-100">
          <div class="mat-icon-button btn-remove" (click)="removeFile(myRowData)"><mat-icon class="mat-icon-rtl-mirror">delete</mat-icon></div>
        </div>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>
