.display-table {
  flex: 1 0 auto;
  z-index: 1;
}
.dropzone {
  display: table;
  min-height: 15vh;
  width: 100%;
  background-color: blue;
  
}

mat-grid-tile div {
  display: flex;
  text-align: left;
  margin-left: 0.5rem;
}

.leftVerticalAlign {
  left: 1em;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  margin: 0;
}

.icon-size {
  display: inline-block;
  height: 1em;
  width: auto;
  transform: translate(0, 0.1em);
  cursor: pointer;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn-browse-files {
  background-color: white;
  color: var(--bs-gray-text);
  cursor: pointer;
  border: none;
}

.card-text {
  height: 5rem;
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.card-header {
  background-color: var(--blue-1);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.demo-table {
  width: 100%;
}

.mat-column-select {
  flex: none;
  width: 10rem;
}

.mat-column-actions {
  flex: none;
  width: 10rem;
}

.mat-column-position {
  flex: none;
  width: 5rem;
  padding-left: 2rem;
}

.mat-icon-button{
  width: 2rem ;
  height: 2rem;
  margin: 1rem;
}

.btn-sensitive-yes{
  background-color: var(--bs-green-deep);
  color: white;
}

.btn-sensitive-no{
  background-color: var(--bs-gray-button);
  color: var(--bs-gray-text);
}

.btn-remove{
  cursor: pointer;
  color: var(--bs-gray-700) ;
}