progress {
  border-radius: 7px;
  width: 80%;
  height: 22px;
  margin: 10px 0px 10px 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: rgb(231, 231, 225);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(11, 195, 75);
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
}
progress::-moz-progress-bar {
  /* style rules */
}

.dropzone {
  border-radius: 3%;
  display: table;
  background-color: #e2dddd;
  height: 12rem;
  min-width: 100px;
  width: 100%;
  border: dashed 1px #aaa;
  margin-left: auto;
  margin-right: auto;
}

mat-grid-tile div {
  display: flex;
  text-align: left;
  margin-left: 0.5rem;
}

.leftVerticalAlign {
  left: 1em;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  margin: 0;
}

.icon-size {
  display: inline-block;
  height: 1em;
  width: auto;
  transform: translate(0, 0.1em);
  cursor: pointer;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn-browse-files {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.card-text {
  height: 5rem;
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.card-header {
  background-color: var(--blue-1);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
