progress {
  border-radius: 7px;
  width: 80%;
  height: 22px;
  margin: 10px 0px 10px 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: rgb(231, 231, 225);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(11, 195, 75);
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
}
progress::-moz-progress-bar {
  /* style rules */
}

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}
