<div class="container">
  <div>
    <input accept="/*" name="file" type="file" #file multiple />
  </div>
  <!-- <div class="mt-5">
    <div class="row" style="height: 10px">
      <mat-grid-list cols="1" rowHeight="1:1">
        <p>Test</p>
        <mat-grid-tile *ngFor="let fileStatus of uploadProgress | async">
          <div style="position: relative">
            <p>File Name: {{ fileStatus.filename }}</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div> -->

  <button
    mat-raised-button
    (click)="upload(file.files)"
    style="margin-top: 10px"
  >
    Upload
  </button>
  <div *ngFor="let fileStatus of uploadProgress | async">
    <p>Uploading File: {{ fileStatus.filename }}</p>
    <progress
      color="primary"
      mode="determinate"
      [value]="fileStatus.progress"
      max="100"
    ></progress>
    <p>Progress: {{ fileStatus.progress }}%</p>
    <p>UUID: {{ fileStatus.filename }}</p>
    <div *ngIf="fileStatus.progress == 100">
      <a href="https://master.tus.io/files/{{ fileStatus.uuid }}"
        >Uploaded File</a
      >
    </div>
  </div>
  <div class="first">
    <div [ngStyle]="{ 'width.%': 79 }" class="second"></div>
  </div>
</div>
