<div class="container">
  <div class="row card-search d-flex justify-content-center align-items-center">
    <div class="col-lg-8">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search for a matter</div>
        <div class="card-body">
          <div class="d-flex mb-2">
            <mat-radio-group
              aria-label="Select an option"
              [(ngModel)]="defaultBriefType"
              (change)="onBriefTypeSelection($event)"
            >
              <mat-radio-button value="HNumber">Matter</mat-radio-button>
              <mat-radio-button value="MatterNumber"
                >Advisings</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <form [formGroup]="searchForm" (submit)="onSearch()">
            <div class="input-group flex align-items-start mx-auto">
                <div class="w-75 position-relative">
              <input
                [prefix]="hprefix"
                [mask]="searchMask"
                formControlName="refNumber"
                type="text"
                id="voice-search"
                [placeholder]="searchPlacehoder"
                required
                class="form-control"
                aria-describedby="button-search"
              />
              <div
                class="error-message"
                *ngIf="
                  (searchForm.controls.refNumber.invalid &&
                    searchForm.controls.refNumber.touched) ||
                  submitted
                "
              >
                {{ errorMessage }}
              </div>
            </div>
              <button
                *ngIf="!isSearchingRefNumber"
                class="btn btn-primary d-inline-flex align-items-center btn-search"
                id="button-search"
                type="submit"
              >
                Search
              </button>
              <button
                *ngIf="isSearchingRefNumber"
                class="btn btn-primary d-inline-flex align-items-center btn-search"
                id="button-search"
                type="button"
                disabled
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </form>

          <div *ngIf="isHnumberExisted">
            <p
              id="helper-text-explanation"
              class="mt-2 text-sm text-gray-500 dark:text-gray-400 fw-bold"
            >
              HNumber: {{ matterNewChange?.matterHREF }}.
            </p>
            <p
              id="helper-text-explanation"
              class="mt-2 text-sm text-gray-500 dark:text-gray-400 fw-bold"
            >
              Matter Name: {{ matterNewChange?.matterName }}.
            </p>
            <p
              id="helper-text-explanation"
              class="mt-2 text-sm text-gray-500 dark:text-gray-400 fw-bold"
            >
              Matter Subjects: {{ matterNewChange?.matterSubjects }}.
            </p>
            <button
              type="button"
              (click)="onPrepareDocument()"
              class="btn btn-primary"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
