<div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">
      {{ fileUploadsByCategory.category }}
    </legend>
    <div *ngFor="let fileStatus of uploadProgress | async">
      <div *ngIf="fileUploadsByCategory.category === fileStatus.category">
        <div class="d-flex justify-content-between w-80">
          <p class="mb-0">{{ fileStatus.filename }}</p>
          <p class="mb-0">{{ fileStatus.progress }}%</p>
        </div>
        <div class="d-flex">
          <progress
            color="primary"
            mode="determinate"
            [value]="fileStatus.progress"
            max="100"
            class="col-xs-10 col-sm-8"
          ></progress>
          <div
            *ngIf="fileStatus.progress == 100"
            class="col-xs-10 col-sm-2 d-flex align-items-center justify-content-end"
          >
            <!-- <a
              href="https://odpp-uploader.azurewebsites.net/files/{{
                fileStatus.uuid
              }}"
              ><img
                class="icon-updownload-size"
                src="../../../assets/download.png"
            /></a> -->
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
