<div>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg d-flex flex-column \">
    <div class="container-fluid navbar-container">
      <div class="d-flex bd-highlight my-2 navbar-item">
        <div class="p-2 bd-highlight align-content-center">
          <button
            mat-button
            class="material-icons color_white"
            (click)="ToggleMenu()"
          >
            <mat-icon>menu</mat-icon>
          </button>
          Brief Service Portal
        </div>

        <div class="ms-auto p-2 bd-highlight align-content-center">
          <i class="fa-regular fa-bell"></i>
          <i class="fa-regular fa-user ps-3"></i>
        </div>
       
      </div>
    </div>
    <div class="container-fluid breadcrumb-container border border-gray-900 rounded-lg">
      <div class="d-flex bd-highlight my-2 navbar-item d-flex  align-self-center mt-3 ">
        <p>{{breadCrumbText}}</p>

      </div></div>
  </nav>

  <!-- Page content-->
  <div class="container-fluid">

    <div *ngIf="isReadyForUploading">
      <div class="row bg-white">
        <mat-drawer-container
          class="example-container border border-gray-900 rounded-lg"
          autosize
        >
          <mat-drawer
            #drawer
            class="example-sidenav"
            mode="side"
            [opened]="isOpened"
          >
            <app-side-nav
              (sendSelectedMenu)="receivedSelectedMenu($event)"
            ></app-side-nav>
            <!-- <button>
            <a routerLink = "/search" >Search</a>
          </button> -->
            <!-- <app-tree-menu></app-tree-menu> -->
          </mat-drawer>
          <mat-drawer-content>
            <div class="example-sidenav-content px-3 ">
              <!--  -->
              <!-- <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
              </button> -->
              <router-outlet (activate)="onOutletLoaded($event)" />
            </div>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>


    </div>
  </div>
</div>
